* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.menu {
  width: 25%;
  float: left;
}

.main {
  width: 75%;
  float: left;
}

h1 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

h2 {
  padding: 0.3rem;
  width: max-content;
  color: black;
  font-size: medium;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

h3 {
  color: black;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

h4 {
  color: black;
  font-size: x-small;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

.foot {
  position: fixed;
  bottom: 0;
  right: 0;
  background: blue;
  width: 100%;
  color: white;
  border-top: 0.1rem solid purple ;
}

.copyr{
  float:left;
  background: inherit;
  color: inherit;
}

.copyr a{
  background: inherit;
  color: inherit;
  border-left: 0.1rem solid white;
  margin-left:0.3rem;
  padding-left: 0.3rem;
}


p {
  background-color: blue;
  color: white;
  /* width: 90%; */
}

.card {
  display: inline-block;
  width: min-content;
  /* height: max-content; */
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.7rem;
  border-color: lightgray;
  padding: 0.3rem;
  margin: 1rem;
  background-color: blue;
  box-shadow: 0.5rem 0.9rem 18px gray;
  /* box-shadow: 0 1px 4px rgba(0,0,0,0.12) 0 1px 3px rgba(0,0,0,0.24); */
}

.card:hover {
  border-color: aqua;
  /* background-color: rgb(87, 87, 255); */
}

.card img {
  border-radius: 0.8rem;
  background-color: blue;
  /* width: 10rem; */
  height: 5rem;
}

.card button {
  border-radius: 0.2rem;
  background-color: white;
  border-style: solid;
  padding: 0.2rem;
  margin: 0.1rem;
  width: auto;
  height: min-content;
  color: blue;
  font-size: medium;
}
.card button:hover {
  background-color: blue;
  color: white;
}
.card p{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.list {
  display: flex;
  /* flex-direction: row; */
  align-items: stretch;
  /* justify-content: space-between; */
  align-items: center;
  /* width: min-content; */
  height: min-content;
  /* border-width: 0.5rem; */
  /* border-radius: 1rem; */
  /* border-color: lightgray; */
  padding: 0.1rem;
  margin: 0.2rem;
  background-color: white;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: blue;
  /* box-shadow: 0.5rem 0.9rem 18px gray; */
}

.list div {
  flex-basis: 45%;
  text-align: left;
}

.list img {
  flex-basis: 10%;
  border-radius: 0.2rem;
  background-color: blue;
  /* width: 10rem; */
  height: 3rem;
  margin-right: 0.5rem;
}

.list span {
  flex-basis: 15%;
  background-color: inherit;
  color: inherit;
}

.list button {
  flex-basis: 15%;
  background-color: inherit;
  padding: 0.2rem;
  margin: 0.1rem;
  width: min-content;
  height: min-content;
  color: blue;
  font-size: medium;
  border-radius: 0.2rem;
  border-style: solid;
  border-color: blue;
}

.list button:hover {
  background-color: blue;
  color: white;
}

.magen {
  background-image: url("magen.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 75% 75%;
/*   z-index:7; */
}


/* popup modal window */
.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000050;
  width: 100%;
  height: 100%;
/*   width: min-content; */
/*   height: min-content; */
  z-index: 1;
}
 
.box {
  position: relative;
/*   display: flex; */

  width: max-content;
  height: max-content;
  margin: auto;
  background: none;
  /* max-height: 70vh; */
  /* margin-top: calc(100vh - 85vh - 20px); */
    /* margin: 10%; */
/*   background: #fff; */
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: absolute;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
/*   background: #ededed; */
  background: blue;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tttext{
  visibility: hidden;
  width: 15rem;
  height: fit-content;
  background-color:indigo;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  /* border-style: solid cyan 0.3rem; */

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10%;
  margin-left: -4rem;
}
.tooltip .tttext::after{
  content: " ";
  position: absolute;
  bottom: 100%;
  right: 70%;
  margin-left: 0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent indigo transparent;
}
.tooltip:hover .tttext{
  visibility: visible;
}

.magenbg {
  position: relative;
  display: flex block;
  /* align-items: center; */
  /* align-content: center; */
  /* display: block; */
  justify-content: flex-end;
  z-index: 5;
  width: fit-content;
  height: fit-content;
  /* background-repeat: no-repeat; */
  /* background-color: skyblue; */
  /* background-position: center top; */
  /* background-attachment: fixed; */
  /* background-clip: border-box; */
  padding: 0.5vw;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.5vw;
  border-color: skyblue;
  margin: 0.5vw;
  /* padding-top: 3rem; */
}
.magenbg:hover{
  /* background-image: url(imgutils/magenhover.png); */
  background-image: linear-gradient(darkgray, lightblue);
  
}

/* ** Muestra las letras en la magen  ** */

.showhebrew {
  position: absolute;
  display: flex;
  left: 36%;
  top: 38%;
  height: 10%;
/*   border-radius: 0.5rem; */
/*   width: 20%; */
  z-index: 7;
}
.showhebrew img {
  background:#0000ff;
  height: 6.5rem;
}

.lighthebrew {
  position: absolute;
  display: flex;
  left: 36%;
  top: 38%;
  height: 10%;
/*   border-radius: 0.5rem; */
/*   width: 20%; */
  z-index: 4;
}

.lighthebrew img{
/*   background: #2b0c86; */
  background:#0000ff;
/*   background-color: hsla(274, 100%, 51%, 0.1); */
  height: 6.8rem;
/*   width: 2.5rem; */
}

.showmeta {
  position: absolute;
  display: flex;
  left: 33%;
  top: 42%;
  height: 10%;
/*   width: 20%; */
  z-index: 4;
}

.showmeta img {
  background:#0000ff;
  height: 4.4rem;
/*   border-radius: 0.5rem; */
}

.lightmeta {
  position: absolute;
  display: flex;
  left: 32%;
  top: 41%;
  height: 10%;
/*   width: 20%; */
  z-index: 4;
}

.lightmeta img{
/*   background: #2b0c86; */
  background:#0000ff;
/*   background-color: hsla(274, 100%, 51%, 0.1); */
  height: 4.7rem;
/*   border-radius: 0.5rem; */
/*   width: 2.5rem; */
}

.name {
  position: absolute;
  /* display: flex; */
  display: flex;
  /* margin-top: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* justify-content: center; */
  /* align-items: center; */
  left: 38%;
  top: 41%;
  /* left: 65%; */
  /* top: 30%; */
  /* height: 25%; */
/*   filter: hue-rotate(90deg); */

  width: 25%;
  z-index: 2;
  /* background-color: indigo; */
/*   background-color: hsla(274, 100%, 51%, 0.1); */
  background: #2b0c86;
/* #4B0082 */
/* rgb(75, 0, 130) */
  border-radius: 2vw;
  /* mask-origin: ; */
  /* mask-repeat: no-repeat; */
  /* clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%); */
  
}

.buttonmagen {
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: larger;
  border-radius: 0.2rem;
  background-color: skyblue;
  color: white;
  /* font-family: ; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: stretch; */
  /* z-index: 2; */
}


.dropdbutton {
  /* position: relative; */
  /* display: inline-block; */
  background-color: indigo;
  color: white;
  padding: 0.4rem;
  font-size: large;
  border: none;
  cursor: pointer;

  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightblue;
  min-width: 10rem;
  box-shadow: 0.5rem 0.9rem 18px gray;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /* width: auto; */
  padding: 0.3rem 0.5 rem;
  text-decoration: none;
  display: block;
  width: auto;
}

.dropdown-content a:hover {
  background-color: rgb(133, 190, 240);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdbutton {
  background-color: rgb(127, 2, 216);
}

.nav {
  position: fixed;
/*   top: 0.4rem; */
/*   position:fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background: indigo;
  color: white;
  margin-bottom: 0.2rem solid yellow;
/*   display: flex; */
/*   flex-direction: row; */
/*   justify-content: space-between; */
/*   align-items: center; */
  z-index: 3;
}

/* .nav .dropdbutton{
  text-align: center;
} */
.nav button {
  float: right;
  margin: 0.4rem 0.4rem 0 0;
/*   text-align: center; */
  /* height: 2rem; */
  /* width: 2rem; */
}

.nav button:hover {
  background-color: rgb(199, 199, 247);
}

.bh{
  float: right;
  background: inherit;
  color: inherit;
}


.busca{
  position: sticky;
  top: 2rem;
  left: 0.5rem;
  display: flex;
  background-color: lightgray;
  border-radius: 0.4rem;
  margin: 3em 1rem 0.2rem 1rem;
  height: 2rem;
  width: 90% ;
}

.formE {
/*   display: flex; */
/*   float: left; */
/*   display: inline-block; */
  background-color: lightcyan;
  border-radius: 0.3rem;
  width: 30%;
  height: max-content;
  padding: 0.5rem;
  margin: 0.5rem;
}

.labelE {
  display: block;
  background: inherit;
  color: blue;
  padding: 0.3rem;
}

.dato{
/*   display: flex; */
  display: block;
  background-color: white;
  width: 100%;
  height: 2rem;
  color: blue;
  border-radius: 0.3rem;
  border: solid blue;
}

.msgtext {
/*   display: flex; */
  display: block;
  background-color: white;
  width: 100%;
  height: max-content;
  color: blue;
  border-radius: 0.3rem;
  border: solid blue;
}

.buttoncontainer {
  display: flex;
/*   align-items: stretch; */
}

.buttonE {
/*   flex-basis: 15%; */
/*   justify-content: center; */
  flex-grow: 2;
  background-color: white;
  margin: 0.3rem;
  padding: 0.2rem;
  float: center;
  width: min-content;
  height: 2rem;
  color: blue;
  font-size: medium;
  border-radius: 0.2rem;
  border-style: solid;
  border-color: blue;
}

.buttonE:hover{
  background-color: blue;
  color: white;
}

.buttonE:active{
	font-weight: bold;
}

@media screen and (max-width: 480px) {
  .card{
    margin: 0.3rem;
  }
  .popup-box{
/*     position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     width:60%; */
/*     height: 60%; */
/*     margin:0; */
  }
  .box{
    position: fixed;
    top: 0;
    left: 0;
    margin: 2rem 0 0 0;
    padding:0;

  }
  .boxmg{
    width: 320px;
    height: 320px;
  }

  .formE {
    width: 100%;
  }
  .showhebrew {
    display: flex;
    left: 30%;
    top: 34%;
    width: 10px;
    height: 10px;
  }
  .lighthebrew{
    display: flex;
    left: 30%;
    top: 34%;
    width: auto;
    height: 10px;
  }
}

@keyframes sobre {
  from {
    box-shadow: 0.5rem 0.9rem 18px gray;
  }

  to {}
}
